In [1]:
import sqlite3

In [2]:
con = sqlite3.connect("info.db")

In [3]:
con.execute("create table students (ID int, name text, age int)")
con.execute("insert into students values (123, 'zhangsan', 18)")
con.execute("insert into students values (124, 'lisi', 19)")

OperationalError: table students already exists

In [4]:
con.commit()