In [1]:
import sqlite3

In [2]:
con = sqlite3.connect("students.db")
con.execute("create table students (id int, name text, age int)")
con.execute("insert into students values (123, 'zhangsan', 18)")
con.execute("insert into students values (124, 'lisi', 19)")

In [3]:
def check(con, name):
    sql = f"select * from students where name = '{name}'"
    cursor = con.execute(sql)
    for entry in cursor:
        print(entry)

In [4]:
check(con, "zhangsan")

(123, 'zhangsan', 18)

In [5]:
check(con, "lisi")

(124, 'lisi', 19)

In [6]:
check(con, "wangwu")

In [7]:
check(con, "wangwu'")

OperationalError: unrecognized token: "'wangwu''"

In [8]:
def check(con, name):
    sql = f"select * from students where name = '{name}'"
    print(sql)
    cursor = con.execute(sql)
    for entry in cursor:
        print(entry)

In [9]:
check(con, "wangwu'--")

select * from students where name = 'wangwu'--'

In [10]:
check(con, "wangwu' or TRUE --")

select * from students where name = 'wangwu' or TRUE --'
(123, 'zhangsan', 18)
(124, 'lisi', 19)

In [11]:
def check2(con, name):
    sql = "select * from students where name = ?"
    cursor = con.execute(sql, (name,))
    for entry in cursor:
        print(entry)

In [12]:
check2(con, "zhangsan")

(123, 'zhangsan', 18)

In [13]:
check2(con, "wangwu' or TRUE --")

In [14]:
data = [
    (125, "wangwu", 20),
    (126, "zhouliu", 19),
    (127, "qiqi", 23),
]

In [15]:
con.executemany("insert into students values (?, ?, ?)", data)

In [16]:
import pickle

In [18]:
student = {"name": "zahngsan", "age": 19}
with open("student.p", "wb") as f:
    pickle.dump(student, f)

In [19]:
with open("student.p", "rb") as f:
    loaded = pickle.load(f)

In [20]:
loaded

{'name': 'zahngsan', 'age': 19}

In [21]:
dumped = pickle.dumps(student)

In [22]:
dumped

b'\x80\x04\x95\x1f\x00\x00\x00\x00\x00\x00\x00}\x94(\x8c\x04name\x94\x8c\x08zahngsan\x94\x8c\x03age\x94K\x13u.'

In [23]:
load_from_bytes = pickle.loads(dumped)

In [24]:
load_from_bytes

{'name': 'zahngsan', 'age': 19}